html{
    list-style: none;
    padding: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    margin-bottom: 100px;
    padding: 0 20px;
}

.header__block{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

/* header__search */
.header__search{
 display: flex;
 align-items: center;
 align-self: center;
 height: 40px;
 width: 274px;
 border: 1px solid #000;
}

.header__search__icon{
    font-size: 20px;
    padding: 0 8px;
}

.header__search__input{
    /* height: 28px; */
    border: none;
    outline: none;
    font-size: 18px;
    padding-right: 8px;
}

/* header__logo */
.header__logo{
 display: flex;
 align-items: center;
 
 align-self: flex-end;
}

.header__logo img{
    height: 42px;
    padding-right: 4px;
}

/* header__options */

.header__options{
 display: flex;
 align-self: center;
 max-width: 200px;
 width: 100%;
}

.header__options__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;

}

.header__options__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__options__item img{
    height: 22px;
}

.header__logo__text{
    font-size: 36px;
    font-family: 'Segoe UI Black';
}







/* container */

.container{
}

.container__options__list{
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    border: 2px solid;
    border-color: #c8c2ee;
    padding: 0 20px;
    margin: 0;
    font-weight: 600;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.container__options__item{
    padding: 22px 8px;
}



.container__background{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    height: 400px;
    /* background-image: url(../Image/photo-0-15750043735021453697543-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right top; */
    background-color: #f0eefc;
    position: relative;
    font-family: Georgia;
    margin-bottom: 40px;
}

.container__background img{
    height: 100%;
}

.container__background__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6%;
}

.container__background__title{
    margin-bottom: 12px;

}

.container__background__text{
    font-weight: 600;
    font-size: 18px;
}

.container__background__slogan{
    font-weight: 500;
    font-size: 14px;
}
/* 
.container__background::after{
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #000;
}
 */


 .container__line{
    height: 2px;
    width: 100%;
    background-color: #888;
    margin-bottom: 80px;
 }

 .container__line__short{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 12px;
 }

 .container__line__short__center{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 2px;
    /* background-color: #000; */
    align-items: center;
 }
 .container__line__short__center::before{
    display: block;
    content: "";
    height: 3px;
    width: 15%;
    background-color: #503bcb;
    border-radius: 1px;
 }
 .container__line__short__center::after{
    display: block;
    content: "";
    height: 2px;
    width: 85%;
    background-color: #000;
    border-radius: 1px;
 } 


 .container__line__short__center--revert{
    flex-direction: row-reverse;
 }


 /* .container__bestselle */
 .container__bestseller{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
 }
 .container__bestseller__head{
    display: flex;
    justify-content: space-between;
 }


 .container__bestseller__head__left{
    display: flex;
    align-items: center;

 }

 .container__bestseller__head__left__title{
    margin: 0;
 }

 .container__bestseller__right__list{
    display: flex;
 }

 .container__bestseller__head__right__item{
 }

 .container__bestseller__head__right__item__text{
    padding: 10px 8px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;

 }

 .container__bestseller__head__right__item__text--active{
    background-color: #ac87c5;
 }

 .container__bestseller__head__right__item:not(:last-child){
    margin-right: 20px;

 }
 /* footer */
.footer{
    background-color: #f1f1f1;
    padding: 20px;

}

.footer__top__item{
    padding-top: 6px;
}

 .footer__bot{
    display: flex;
    justify-content: space-around;
 }

 .footer__bot__left{
    list-style: none;
 }

 .footer__bot__between{
    list-style: none;
 }

 .footer__bot__right{
    list-style: none;
 }



.container__bestseller__product{

}


.container__bestseller__product__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}


.container__bestseller__product__item{
    background-color: #e381f0;
    background-image: url(../Image/necklace/DCN0460.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 222px;
    width: 168px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 12px;
    margin-right: 12px;
}
.container__bestseller__product__item:not(:first-child){
}
.container__bestseller__product__item:not(:last-child){
}


.container__bestseller__product__item__price{
display: none;
}


.container__bestseller__product__item__text{
display: none;
}


/* .container__gift */

.container__gift{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.container__gift__box{
    display: flex;
}


.container__gift__pictures{
    display: flex;
    justify-content: center;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    flex: 8;
}


.container__gift__pictures__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px #503bcb solid;
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
}

/* .container__gift__pictures__box:not(:first-child){
    margin-left: 12px;
}
.container__gift__pictures__box:not(:last-child){
    margin-right: 12px;
} */

.container__gift__pictures__box img{
    width: 460px;
}

.container__gift__pictures__box__text{
    font-size: 22px;
    font-weight: 300;
    padding: 12px 0;
    font-family: cursive;
}


.container__gift__conten{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__gift__conten__title{
    font-size: 38px;
    font-weight: 500;
    line-height: 44px;
    margin-bottom: 8px;
    color: #444;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__gift__conten__link{
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    background-color: #503bcb;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px 12px;
}



.container__ship{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.container__ship__box{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    border: 3px solid #ffc2ec;
    border-radius: 4px;
}

.container__ship__text{
    /* padding: 90px 40px; */
    font-size: 38px;
    font-weight: 200;
    font-family: monospace;
}